In [1]:
from pathlib import Path
import os
compe='spaceship-titanic'
iskaggle= os.environ.get('KAGGLE_KERNEL_RUNTYPE','')
if iskaggle:
    path=Path(f'../input/{compe}')
    ! pip install -Uqq fastai
else:
    import kaggle,zipfile
    path=Path(f'{compe}')
    if not path.exists():
        kaggle.api.competition_download_cli(str(path))
        zipfile.ZipFile(f'{path}.zip').extractall(path)

In [2]:
from fastai.tabular.all import *

pd.options.display.float_format = '{:.2f}'.format
set_seed(42)

In [3]:
df=pd.read_csv('spaceship-titanic/train.csv')
df_test=pd.read_csv('spaceship-titanic/test.csv')

In [4]:
df.head(3)
print(df.shape)

(8693, 14)

In [5]:
cols=['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
df['Extras']=df[cols].sum(axis=1)
df.drop(cols+['Name'], axis=1,inplace=True)

df.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,Transported,Extras
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.00,False,False,0.00
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.00,False,True,736.00
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.00,True,False,10383.00

In [32]:
df_test['Extras']=df_test[cols].sum(axis=1)
df_test.drop(cols+['Name'], axis=1,inplace=True)

df_test.head(3)

  PassengerId HomePlanet CryoSleep  Cabin  Destination   Age    VIP  Extras
0     0013_01      Earth      True  G/3/S  TRAPPIST-1e 27.00  False    0.00
1     0018_01      Earth     False  F/4/S  TRAPPIST-1e 19.00  False 2832.00
2     0019_01     Europa      True  C/0/S  55 Cancri e 31.00  False    0.00

In [6]:
log_cols=['Age','Extras']
df[log_cols]=np.log1p(df[log_cols])
df.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,Transported,Extras
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,3.69,False,False,0.00
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,3.22,False,True,6.60
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,4.08,True,False,9.25

In [33]:
df_test[log_cols]=np.log1p(df_test[log_cols])
df_test.head(3)

  PassengerId HomePlanet CryoSleep  Cabin  Destination  Age    VIP  Extras
0     0013_01      Earth      True  G/3/S  TRAPPIST-1e 3.33  False    0.00
1     0018_01      Earth     False  F/4/S  TRAPPIST-1e 3.00  False    7.95
2     0019_01     Europa      True  C/0/S  55 Cancri e 3.47  False    0.00

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  8693 non-null   object
 1   HomePlanet   8492 non-null   object
 2   CryoSleep    8476 non-null   object
 3   Cabin        8494 non-null   object
 4   Destination  8511 non-null   object
 5   Age          8514 non-null   float64
 6   VIP          8490 non-null   object
 7   Transported  8693 non-null   bool
 8   Extras       8693 non-null   float64
dtypes: bool(1), float64(2), object(6)
memory usage: 551.9+ KB

In [8]:
df[df['Transported'] == True].Transported.count()/df.shape[0]

0.5036236051995858

In [9]:
df.isna().any(axis=1).sum()

1121

In [10]:
df_test=pd.read_csv('spaceship-titanic/test.csv')
df_sub=pd.read_csv('spaceship-titanic/sample_submission.csv')

In [11]:
import subprocess
def make_sub(pred_y,sub_data=df_test,name='default'):
    df_submission = pd.DataFrame()
    df_submission['PassengerId']=df_test['PassengerId']
    df_submission['Transported']=pred_y
    df_sub.to_csv(f'submission-{name}.csv', index=False)
    cmd =f'kaggle competitions submit -c {compe} -f submission-{name}.csv -m "Message"'
    subprocess.run(cmd, shell=True)
    print(f'succesully saved - {name}')

In [12]:
df_test.shape

(4277, 13)

  ***
  <font size="5">-> __Dumb model pridected 0.490__</font>
   ***

In [13]:
x=df_test.isna().any(axis=1).sum()
print('nan values in test',x)
print('Total size of df_test',df_test.shape)
print('nan% is ',x*100/df_test.shape[0])

nan values in test 996
Total size of df_test (4277, 13)
nan% is  23.287350946925415

In [14]:
cols_mode=df.drop('PassengerId', axis=1).columns.tolist()
print(cols_mode)

['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP', 'Transported', 'Extras']

In [15]:
columns_to_find_mode = cols_mode
modes = {}

for column in columns_to_find_mode:
    modes[column] = df[column].mode()[0]
print(modes)

{'HomePlanet': 'Earth', 'CryoSleep': False, 'Cabin': 'G/734/S', 'Destination': 'TRAPPIST-1e', 'Age': 3.2188758248682006, 'VIP': False, 'Transported': True, 'Extras': 0.0}

In [16]:
columns_to_fill = cols_mode

for column in columns_to_fill:
    df[column].fillna(df[column].mode()[0], inplace=True)

In [37]:
columns_to_fill=df_test.drop('PassengerId', axis=1).columns.tolist()
columns_to_fill

['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP', 'Extras']

In [38]:
for column in columns_to_fill:
    df_test[column].fillna(df_test[column].mode()[0], inplace=True)

In [34]:
df_test[column].fillna(df_test[column].mode()[0], inplace=True)

In [40]:
df.isna().any(axis=1).sum()

0

In [39]:
df_test.isna().any(axis=1).sum()

0

In [25]:
df.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,Transported,Extras
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,3.69,False,False,0.00
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,3.22,False,True,6.60
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,4.08,True,False,9.25

In [26]:
cols_change=['CryoSleep','VIP','Transported']
df[cols_change] = df[cols_change].astype(int)
df.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,Transported,Extras
0,0001_01,Europa,0,B/0/P,TRAPPIST-1e,3.69,0,0,0.00
1,0002_01,Earth,0,F/0/S,TRAPPIST-1e,3.22,0,1,6.60
2,0003_01,Europa,0,A/0/S,TRAPPIST-1e,4.08,1,0,9.25

In [27]:
cols_encode = ['PassengerId', 'HomePlanet', 'Cabin', 'Destination']
df_encoded = pd.get_dummies(df, columns=cols_encode)
df_encoded.head(3)

,CryoSleep,Age,VIP,Transported,Extras,PassengerId_0001_01,PassengerId_0002_01,PassengerId_0003_01,PassengerId_0003_02,PassengerId_0004_01,...,Cabin_G/999/P,Cabin_G/999/S,Cabin_T/0/P,Cabin_T/1/P,Cabin_T/2/P,Cabin_T/2/S,Cabin_T/3/P,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0,3.69,0,0,0.00,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,3.22,0,1,6.60,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,4.08,1,0,9.25,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [29]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# Custom transformer for feature engineering
class FeatureEngineeringTransformer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self

    def transform(self, X):
#         cols_mode=df.drop('PassengerId', axis=1).columns.tolist()
#         for column in cols_mode:
#             df[column].fillna(df[column].mode()[0], inplace=True)
#         cols=['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
#         print(X)
#         X['Extras']=X[cols].sum(axis=1)
#         X=X.drop(cols+['Name','PassengerId'], axis=1,inplace=False)
#         log_cols=['Age','Extras']
#         X[log_cols]=np.log1p(X[log_cols])
        return X

steps = [  # Custom feature engineering
#     ('imputer', SimpleImputer(strategy='most_frequent')),
#     ('feature_engineering', FeatureEngineeringTransformer()),
#     ('encoder', OneHotEncoder()),# Replace missing values with the most frequent value
#     ('scaler', StandardScaler()),  # Standardize the features
    ('classifier', RandomForestClassifier())  # Classifier for training
]

In [30]:
# Create the pipeline
pipeline = Pipeline(steps)

X_train = df_encoded.drop('Transported', axis=1)
y_train = df_encoded['Transported']

pipeline.fit(X_train, y_train)

Pipeline(steps=[('classifier', RandomForestClassifier())])

In [31]:
df_encoded.head(2)

,CryoSleep,Age,VIP,Transported,Extras,PassengerId_0001_01,PassengerId_0002_01,PassengerId_0003_01,PassengerId_0003_02,PassengerId_0004_01,...,Cabin_G/999/P,Cabin_G/999/S,Cabin_T/0/P,Cabin_T/1/P,Cabin_T/2/P,Cabin_T/2/S,Cabin_T/3/P,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0,3.69,0,0,0.00,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,3.22,0,1,6.60,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
X_test = df_test

predictions = pipeline.predict(X_test)

In [124]:
def preproc(df):
    print(df)
    cols=['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
    df['Extras']=df[cols].sum(axis=1)
    df=df.drop(cols+['Name','PassengerId'], axis=1,inplace=False)
    log_cols=['Age','Extras']
    df[log_cols]=np.log1p(df[log_cols])
    return df

In [125]:
df=preproc(df)
df_test=preproc(df_test)
print(df.head(3))
print(df_test.head(3))

     PassengerId HomePlanet CryoSleep     Cabin    Destination   Age    VIP
0        0001_01     Europa     False     B/0/P    TRAPPIST-1e 39.00  False  \
1        0002_01      Earth     False     F/0/S    TRAPPIST-1e 24.00  False
2        0003_01     Europa     False     A/0/S    TRAPPIST-1e 58.00   True
3        0003_02     Europa     False     A/0/S    TRAPPIST-1e 33.00  False
4        0004_01      Earth     False     F/1/S    TRAPPIST-1e 16.00  False
...          ...        ...       ...       ...            ...   ...    ...
8688     9276_01     Europa     False    A/98/P    55 Cancri e 41.00   True
8689     9278_01      Earth      True  G/1499/S  PSO J318.5-22 18.00  False
8690     9279_01      Earth     False  G/1500/S    TRAPPIST-1e 26.00  False
8691     9280_01     Europa     False   E/608/S    55 Cancri e 32.00  False
8692     9280_02     Europa     False   E/608/S    TRAPPIST-1e 44.00  False

      Transported   Extras
0           False     0.00
1            True   736.00
2           False 10383.00
3           False  5176.00
4            True  1091.00
...           ...      ...
8688        False  8536.00
8689        False     0.00
8690         True  1873.00
8691        False  4637.00
8692         True  4826.00

[8693 rows x 9 columns]

KeyError: "None of [Index(['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'], dtype='object')] are in the [columns]"